#############################
# Oracle
#############################

ORACLE_PWD=123456789
ORACLE_CHARACTERSET=AL32UTF8

#############################
# SQL Server
#############################

MSSQL_SA_PASSWORD=13456789
ACCEPT_EULA=Y

#############################
# PostgreSQL
#############################

POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456789
POSTGRES_DB=bankdb

#############################
# MySQL
#############################

MYSQL_ROOT_PASSWORD=123456789
MYSQL_DATABASE=bankdb
MYSQL_USER=bankuser
MYSQL_PASSWORD=123456789

#############################
# MongoDB
#############################

MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=123456789

#############################
# Docker
#############################

TZ=America/Guayaquil
